.card{
    max-width: fit-content;
}

.status1{
    color: red;
}

.status2{
    color: orange;
}

.status3{
    color: green;
}

.SnackBarBtn{
    width: 100%;
}

.btnRecoverPass{
    height: 48px;
    background: #0988e2;
}

.btnRecoverPass:hover{
    background: #0876c4;
}

p{
    margin-top: 10px;
}

.paddingtext{
    padding: 2%;
}

h3{
    margin-bottom: 5px;
}

p.legenda{
    margin-bottom: 10px;
}

.header h1{
    padding: 0.5%;
}

.header{
    margin-bottom: 50px;
}

.marginTop{
    margin-top: 20px;
}

.pointer{
    cursor: pointer;
}
